<link rel="stylesheet" type="text/css" href="/static/components/css/scg.min.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/scs.min.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/html.min.css" />
<link rel="stylesheet" type="text/css" href="/static/components/css/github.min.css" />

<script type="text/javascript" charset="utf-8" src="/static/components/js/sc-web-core.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scs/scs.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/scg/scg.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/image/image.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/txt/txt.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/html/html.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/youtube/youtubelink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/map/googlemaplink.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/github/github.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/components/js/pdf/pdf.js"></script>
