<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SCg-viewer test</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			html, body {
				background-color: #fff;
				margin: 0px;
				overflow: hidden;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;
				text-align:center;
				height: 100%;
			}

			#info {
				color:#000;
				position: absolute;
				top: 0px; width: 100%;
				padding: 5px;
				z-index:100;
			}
            
            .space-view {
                width: 100%;
                height: 100%;
            }
			

		</style>
		

	</head>
	<body>
        <script type="text/javascript" src="../../client/static/common/three/three.js"></script>
        <script type="text/javascript" src="../../client/static/common/three/FlyControls.js"></script>
        <script type="text/javascript" src="../../client/static/common/three/stats.min.js"></script>
        <script type="text/javascript" src="../../client/static/common/jquery/jquery-2.1.3.min.js"></script>
		
		<script type="text/javascript" src="src/space.js"></script>
        <script type="text/javascript" src="src/spaceview.js"></script>
        <script type="text/javascript" src="src/spaceobject.js"></script>
        <script type="text/javascript" src="src/spacestar.js"></script>
        <script type="text/javascript" src="src/spaceplanet.js"></script>
        <script type="text/javascript" src="src/spacestarsystem.js"></script>        
		
		<div id="view" class="space-view">
        </div>
        
        <script>
            $(document).ready(function() {
                window.view = new Space.View();
                window.view.init({
                    container: 'view'
                });
                
                var system = new Space.StarSystem({
                    view: window.view
                });
                
                var star = new Space.Star({
                    radius: 3,
                    diffuse: 'static/components/images/space/sun_diffuse.jpg'
                });
                
                var earth = new Space.Planet({
                    radius: 1,
                    diffuse: 'static/components/images/space/earth_diffuse.jpg',
                    apoapsis: 20,
                    periapsis: 15,
                    year: 30,
                    day: 10
                });
                
                earth._parent = star;
                
                system.addStar(star);
                system.addPlanet(earth);
            });
        </script>        
        
	</body>
</html>
